@keyframes myfirst {
  0% {
    height: 10%;
  }
  100% {
    height: 55%;
  }
}
@keyframes mysecond {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
header {
  display: none;
}
body {
  background-color: #f1f1f1;
}
sl {
  /*float: left; width: 49%;*/
  margin-bottom: 10px;
  background-color: rgba(234, 234, 234, 0.7);
  border-left: dashed tomato 2px;
  background-color: white;
  border-radius: 1vw;
  overflow: hidden;
}
sl img {
  width: 100%;
}
sl .mask {
  animation: myfirst 2s linear;
}
sl lx {
  padding-top: 2vw;
  display: none;
}
sl span {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0px;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
}
.no-p {
  padding-right: 0px;
  padding-left: 0px;
}
#detail {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
#detail span {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 22px;
  z-index: 10001;
}
#detail .d-d {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 50%;
  width: 74%;
  background-color: white;
}
#detail .d-d .d-img {
  float: left;
  height: 100%;
  margin: auto;
  margin: 0;
  width: 50%;
}
#detail .d-d .d-img img {
  margin: 0px 5px 0px 0px;
  height: 100%;
  float: right;
}
#detail .d-d .d-detail {
  float: right;
  margin: 0;
  height: 100%;
  width: 50%;
  position: relative;
}
#detail .d-d .d-detail span {
  position: absolute;
  font-size: 22px;
  left: 10px;
  margin-top: 22px;
}
#loading {
  padding-top: 10%;
  width: 100%;
  height: 100%;
  font-size: 5vw;
  text-align: center;
  background-color: aqua;
  color: yellow;
}
.banner {
  height: 150px;
  width: 100%;
  background-color: #ce669b;
  background-image: url(http://i0.hdslb.com/bfs/archive/d2f55b912c33be0a70eb752e4dd475e52ad6bdb7.png);
  background-size: 100% 100%;
  margin-bottom: 1px;
}
.container-fluid {
  padding: 0 10%;
}
.container-fluid .row .tets {
  height: 100px;
  width: 100%;
  background-color: #d9534f;
}
.container-fluid .row .my-lbt .my-lbt-div {
  background-size: cover;
  /*opacity: 0.2;*/
  /*-webkit-filter: blur(5px);  
                filter: blur(5px); */
  /*background: url('https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2521514516.jpg') rgba(0,0,0,.1);*/
}
.container-fluid .row .my-lbt .my-lbt-div img {
  margin: 0 auto;
  height: 24.5vw;
  /*opacity: 1;
                    display: block;*/
  /*-webkit-filter: none;  
                    filter: none;*/
}
.container-fluid .row .my-lbt .my-lbt-div .carousel-caption {
  width: 100%;
  bottom: 0px;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.7);
}
.container-fluid .row .my-lbt .my-lbt-div .carousel-caption span {
  position: absolute;
  left: 10%;
  top: 25%;
  font-size: large;
  text-align: center;
}
.container-fluid .row .my-lbt .my-lbt-div .carousel-caption span lx {
  display: none;
}
.container-fluid .row .row1 {
  height: 24.5vw;
  /*float: left;
				width: 49%;*/
  margin-bottom: 10px;
}
.container-fluid .row .row1 img {
  width: 100%;
  height: 11vw;
}
.container-fluid .row .row1 .mask {
  animation: myfirst 2s linear;
}
.container-fluid .row .row1 lx {
  padding-top: 2vw;
  display: none;
}
.container-fluid .row .row1 span {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0px;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
}
.container-fluid .row #tabs {
  margin-top: 15px;
  background-color: white;
  border-radius: 1vw;
  overflow: hidden;
}
.container-fluid .row #tabs ul {
  border-bottom: 5px solid #DDE;
}
.container-fluid .row #tabs ul li.active {
  border-bottom: solid 3px #d9534f;
}
.container-fluid .row #tabs ul li a {
  border: none;
}
.container-fluid .row #tabs .tab-content sl {
  position: relative;
  /*float: left; width: 49%;*/
  margin: 10px 10px;
  background-color: white;
  width: 30%;
  height: 12vw;
  padding: 0px;
}
.container-fluid .row #tabs .tab-content sl img {
  position: relative;
}
.container-fluid .row #tabs .tab-content sl img:hover {
  animation: mysecond 5s linear;
}
.container-fluid .row #tabs .tab-content sl lx {
  padding-top: 2vw;
  display: none;
}
.container-fluid .row #tabs .tab-content sl span {
  position: absolute;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
}
.container-fluid .row #tabs .tab-content sl p {
  display: block;
  position: absolute;
  color: white;
  margin-top: 5px;
  overflow: hidden;
}
.container-fluid .row #tabs .tab-content sl wenzi {
  position: absolute;
  margin: 5px;
  color: white;
}
#my-body-r-t {
  /*overflow: hidden;*/
}
#my-body-r-t .carousel-indicators {
  bottom: -2%;
  left: 70%;
}
#my-body-r-t .carousel-indicators li {
  width: 15px;
  height: 15px;
  margin: 10px;
  border: solid 2px yellow;
  background-color: red;
}
#my-body-r-t .carousel-indicators li.active {
  width: 30px;
  background-color: #CE669B;
}
#show-list {
  height: 100%;
  overflow-y: scroll;
  height: 24.5vw;
}
#show-list::-webkit-scrollbar {
  display: none;
}
#weixin {
  position: fixed;
  left: 15px;
  top: 50%;
  width: 1vw;
  height: 1vw;
  background-color: black;
}
#connect {
  position: fixed;
  right: 10px;
  top: 50%;
}
#connect div div {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: gold;
  border: green solid 2px;
}
#connect div div img {
  position: absolute;
  right: 50px;
  width: 200px;
}
footer {
  margin-top: 100px;
  width: 100%;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.9);
}
.footer-container {
  padding: 50px 30px;
}
h2 {
  color: white;
}
.qinmei-footer-left {
  float: left;
  margin-left: 10vw;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.qinmei-footer-right {
  width: 35%;
  height: 160px;
  float: right;
  padding: 0 0 0 60px;
}
.footer-left-logo {
  margin-left: -10px;
  width: 120px;
  height: 30px;
  background-size: cover;
  opacity: 0.8;
}
.footer-left-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.95em;
}
.footer-right-title {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3em;
}
.footer-right-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 10px;
}
.footer-right-icon a:hover {
  border: solid 2px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
.footer-right-link {
  padding: 15px 0;
}
.footer-right-link a {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-right: 15px;
}
.footer-right-link a:hover {
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 970px) {
  header {
    display: block;
    background-color: #333;
    height: 50px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
  }
  header .my-logo {
    float: left;
    width: 30%;
  }
  header .my-logo h2 {
    margin: 10px;
  }
  header .my-logo h2 a {
    color: white;
  }
  header .my-nav ul {
    width: 70%;
    float: right;
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
  }
  header .my-nav ul li {
    display: block;
    float: left;
    width: 20%;
  }
  header .my-nav ul li a {
    color: white;
  }
  .banner {
    display: none;
  }
  .container-fluid .row .my-lbt {
    padding: 0px;
  }
  .container-fluid .row .my-lbt .my-lbt-div img {
    height: 45vw;
  }
  .container-fluid .row .my-lbt .my-lbt-div .carousel-caption span {
    bottom: 8px;
  }
  .container-fluid .row .row1 {
    margin-top: 1vw;
  }
  .container-fluid .row .row1 sl img {
    height: 30vw;
  }
  .container-fluid .row .row1 sl span {
    bottom: 10px;
  }
  .container-fluid .row #tabs .tab-content sl {
    margin: 4px;
  }
  .container-fluid .row #tabs .tab-content sl p {
    display: none;
  }
  #my-body-r-t {
    /*overflow: hidden;*/
  }
  #show-list {
    margin-top: 1vw;
    overflow-x: scroll;
    height: auto;
  }
  sl {
    margin-bottom: 10px;
    background-color: white;
  }
  sl img {
    height: 24vw;
  }
  #nav {
    display: none;
  }
  #app {
    margin-top: 50px;
  }
.qinmei-footer-right {
    width: 55%;
  }
  .qinmei-footer-right img {
    width: 150px;
  }
}
